// === COLORS ===
$textColor: #222222;
$themeColor: #170a48;
$secondaryColor: #f27731;
$ternaryColor: #ccf962;
$linkColor: $secondaryColor;
$menu-item-color: #fff;

// === FONTS ===
$textFont: Verdana, Arial, sans-serif;
$headLineFont: 'Palatino Linotype', Georgia, serif;

// === SIZES ===
$contentWidth: 960px;
$headerHeight: 60px;
$footerHeight: 90px;

body {
  font-family: $textFont;
  color: $textColor;
}

h1, h2, h3, h4 {
  font-family: $headLineFont;
}

p {
  font-family: $textFont;
}

a {
  color: $linkColor;
}

#header {
  height: $headerHeight;
  background-color: $themeColor;
  #main-menu {
    li {
      display: inline;
    }
    a {
      color: $menu-item-color;
    }
  }
  
  #logo {

  }
}

#main {
  width: $contentWidth;
  margin-left: auto;
  margin-right: auto;
  #content {
  }

  #sidebar {
  }
}

#footer {
  height: $footerHeight;
  background-color: $ternaryColor;
}