//=== Imports ===
@import "partials/functions";
@import "partials/variables";
@import "partials/mixin";
@import "partials/font";
@import "partials/media-queries";
// === Includes ===
@include fancy-links;
@include apply-to-ie-6 {
    body {
        font-size: 125%;
    }
}

// === Style From Here ===
.error {
    color: $warning;
}

.critical-error {
    @extend .error;
    bottom: 1px solid $warning;
    font-weight: bold;
}

body {
    font-family: $textFont;
    font-size: em(18px);
    background-color: $body-background-color;
    color: $textColor;
    @include large-screen {
        font-size: 125%;
    }
}

h1,
h2,
h3,
h4 {
    font-family: $headLineFont;
}

h2 {
    @include large-text;
}

p {
    font-family: $textFont;
}

a {
    color: $linkColor;
    &:hover {
        color: darken($linkColor, 15%);
    }
}

%highlight {
    font-style: italic;
}

.sub-title {
    @extend %highlight;
    font-size: em(20px);
}

.warning-button {
    @include warning-button;
}

.cta-button {
    @extend .warning-button;
    @extend .error;
    @include rounded($radius);
    font-weight: bold;
}

.super-cta-button {
    @extend .cta-button;
    font-size: em(20px);
}

#header {
    @include box($radius: 12px, $border: 1px solid $headerColor);
    @include box-shadow(2px 0px 4px #999, 1px 1px 6px $secondaryColor);
    height: $headerHeight;
    background-color: $themeColor;
    #main-menu {
        li {
            display: inline;
        }
        a {
            color: $menu-item-color;
            padding: 6px 8px;
            border-bottom: 1px solid transparentize(#fefefe, 1);
            transition: border-bottom 1s;
            transition-timing-function: ease-in-out;
            &:hover {
                border-bottom: 1px solid opacify(#fefefe, .5);
            }
        }
    }
    #logo {}
}

#main {
    width: $contentWidth;
    @include large-screen {
        width: auto;
        max-width: $contentWidth;
    }
    margin-left: auto;
    margin-right: auto;
    #content {
        float: left;
        width: 6 * $col;
    }
    #sidebar {
        float: right;
        width: 2 * $col;
        li {
            list-style-type: none;
            padding: em(16px) em(20px);
            border-bottom: 1px dashed #999;
            &:hover {
                background-color: lighten($secondaryColor, 15%);
            }
        }
    }
}

#footer {
    clear: both;
    height: $footerHeight;
    background-color: $ternaryColor;
}